<ion-view title="Instagram" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="instagram-container2">
      <div id="instagram-container3">
        <button id="instagram-button3" style="font-weight:lighter;border-radius:20px 20px 24px 20px;" class="button button-stable  button-clear icon ion-ios-person-outline"></button>
        <div id="instagram-markdown4" class="show-list-numbers-and-dots">
          <p style="color:#000000;">user_one</p>
        </div>
      </div>
    </div>
    <div id="instagram-container1">
      <div>
        <img src="img/U4KVEMxIRcG12qJNaW7w_beauty.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <button id="instagram-button2" class="button button-stable  icon ion-ios-heart-outline"></button>
    <button id="instagram-button1" class="button button-stable  icon ion-ios-chatbubble-outline"></button>
    <div id="instagram-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">First post here!</p>
    </div>
    <div id="instagram-container4">
      <button id="instagram-button4" class="button button-light  icon ion-ios-person-outline"></button>
      <div id="instagram-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000;">user_two</p>
      </div>
      <div>
        <img src="img/lNZJuGWSiuPYMMQG1LIA_beautiful.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <button id="instagram-button5" class="button button-light  icon ion-ios-heart-outline"></button>
      <button id="instagram-button6" class="button button-light  icon ion-ios-chatbubble-outline"></button>
      <div id="instagram-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Autumn leaves #beautiful</p>
      </div>
    </div>
  </ion-content>
</ion-view>