<ion-view title="Post" hide-nav-bar="true" id="page4">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
      </label>
    </form>
  </ion-content>
   <ion-footer-bar class="bar button-bar-footer" style="height: auto;">
     <div class="button-bar" style="position: absolute;bottom: 0;" >
       <button style="min-width: 50%;border-radius: 0px;" class="button button-stable">Camera</button>
       <button style="min-width: 50%;border-radius: 0px;"  class="button button-stable">Gallery</button>
    </div>
  </ion-footer-bar>
</ion-view>