<ion-view title="Search" hide-nav-bar="true" id="page3">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="search-form1" class="list">
      <label class="item item-input" id="search-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div id="search-button-bar1" class="button-bar">
      <button id="search-button18" class="button button-light button-small button-block">TOP</button>
      <button id="search-button19" style="text-align:left;" class="button button-light button-small button-block">PEOPLE</button>
      <button id="search-button24" class="button button-light button-small button-block">TAGS</button>
      <button id="search-button20" class="button button-light button-small button-block">PLACES</button>
    </div>
  </ion-content>
</ion-view>